<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Добро пожаловать</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">

</head>
<body>

<header align="center">
    <ul>
        <li><a href="/home">Главная</a></li>
        <li><a>|</a></li>
        <li><a href="/menu">Меню</a></li>
        <li><a>|</a></li>
        <li><a href="/users">Пользователи</a></li>
        <li><a>|</a></li>
        <li><a href="/orders">Заказы</a></li>
        <li><a>|</a></li>
    </ul>
</header>

</body>

</html>