<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>

<header align="center">
    <ul>
        <li><a href="/home">Главная</a></li>
        <li><a>|</a></li>
        <li><a href="/menu">Меню</a></li>
        <li><a>|</a></li>
        <li><a href="/users">Пользователи</a></li>
        <li><a>|</a></li>
        <li><a href="/orders">Заказы</a></li>
        <li><a>|</a></li>
    </ul>
</header>

<div class="table">
    <h1>Список заказов</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Столик</th>
            <th>Создан</th>
            <th>Роль</th>
            <th>Статус</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- Thymeleaf цикл для отображения заказов -->
        <tr th:each="order : ${orders}">
            <td><a th:text="${order.id}" th:href="@{'/orders/' + ${order.id}}"></a></td>
            <td th:text="${order.table.position}"></td>
            <td th:text="${order.user.username}"></td>
            <td th:text="${order.user.role}"></td>
            <td th:text="${order.orderStatus}"></td>
            <td>
                <form action="#" th:action="@{'/orders/delete/{id}'(id=${order.id})}" th:method="delete">
                    <button type="submit" class="btn">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<a href="/orders/create"><button class="open-button" >Создать заказ</button></a>
</body>
</html>