<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>

<header align="center">
    <ul>
        <li><a href="/home">Главная</a></li>
        <li><a href="/menu">Меню</a></li>
        <li><a href="/orders">Заказы</a></li>
        <li sec:authorize="hasRole('ADMIN')"><a href="/users">Пользователи</a></li>
        <li th:text="${current_user} ? 'Добро пожаловать, ' + ${current_user} + '!' : ''"></li>
    </ul>
</header>

<div class="table">
    <h1>Список пользователей</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Роль</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- Thymeleaf цикл для отображения заказов -->
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.role}"></td>
            <td><button>Удалить</button></td>
        </tr>
        </tbody>
    </table>
</div>
<button class="open-button" onclick="openForm()">Добавить пользователя</button>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block"; }
         function closeForm() {
document.getElementById("myForm").style.display = "none";
} </script>

<div class="form-popup" id="myForm">
    <form action="#" class="form-container">
        <h1>Заказ</h1>
        <label for="name"><b>Столик</b></label>
        <select id="name">
            <option>Столик 1</option>
            <option>Столик 2</option>
            <option>Столик 3</option>
            <option>Столик 4</option>
        </select>
        <label for="email"><b>Е-мейл</b></label>
        <input type="text" placeholder="Ваш е-мейл" id="email" required>
        <button type="submit" class="btn">Отправить</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Закрыть</button>
    </form>
</div>


</body>
</html>